.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.prisoner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.prisoner-card {
  text-align: center;
  margin: 10px;
  background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
  transition: .6s;
  transform: rotatex(33deg) translatey(-50px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.prisoner-card:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #1be4ff;
}

a.prisoner-card {
  color: #333333;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.75% 0 0.75%;
}

.headerlink {
  margin: 0 20px;
}

button {
  margin: 0 10px;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
}

button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.prisonpop {
  text-align: center;
}

form {
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #ffaa22;
}

input {
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  margin: 5px;
  padding: 7px;
  outline: none;
}